{{/*<!DOCTYPE html>*/}}
{{/*<html lang="en">*/}}
{{/*<head>*/}}
    {{/*<meta charset="UTF-8">*/}}
    {{/*<title>Title</title>*/}}
    {{/*<script>*/}}
        {{/*$(document).ready(function () {*/}}
            {{/*alert("当前为未登录状态！\n请先登录")*/}}
        {{/*});*/}}
        {{/*// top.location.href = "/login";*/}}
    {{/*</script>*/}}
{{/*</head>*/}}

{{/*<body>*/}}
    {{/*<div>*/}}
        {{/*<h1>首页！</h1>*/}}
    {{/*</div>*/}}
{{/*</body>*/}}
{{/*</html>*/}}
<style>
    .nav2{
        display: flex;
        /*margin-top: 100px;*/
        position: fixed;
        top:100px;
    }
</style>
<div class="nav2">
    {{/*<h1>首页</h1>*/}}
</div>
<script>
    $(document).ready(function () {
        alert("当前为未登录状态！\n请先登录")
    });
    top.location.href = "/home";
</script>